.ShrinkableTextAlt {
    display: none;
}

@media screen and (max-width: 700px) {
    .ShrinkableButton {
        min-width: 0;
    }

    .ShrinkableText {
        display: none;
    }
    .ShrinkableTextAlt {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    .ShrinkableButton {
        width: auto;
        flex: 1 1 30%;
        white-space: nowrap;
        overflow: hidden;
    }

    .ShrinkableText {
        display: none;
    }

    .ShrinkableTextAlt {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .ShrinkableButton {
        flex: 1 1 calc(50% - 0.5rem);
    }
    .ShrinkableButton i.icon {
        font-size: 0.75em;
    }
}
